/* основной цвет #212121 */
/* вторичный цвет #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* черный в лого #000000 */
/* цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* фон футера и героя #2F303A */
body {
  background-color: #e5e5e5;

  font-family: Roboto, sans-serif;

/* Шапка страницы */
.page-header {
  background-color: #ffffff;
}
/* Навигация сайта */
.logo {
font-family: Raleway, sans-serif;
}
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: #2196f3;
}
/* Контакты */
.contact-link {
  color: #757575;
}
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

/* Кнопки */
.button {
  background-color: #2196f3;
  color: #ffffff;
}
